body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
}

h1 {
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}

.header {
	font-family: "Montserrat";
	padding-right: 0.3em;
	text-align: right;
}

h3,
.portfolio__heading {
	font-family: "Montserrat";
	font-size: 1.4em;
	font-weight: 300;
	margin-bottom: 0;
	padding-left: 3%;
	text-transform: uppercase;
}

.logo {
	height: 80px;
	margin: auto 0;
}

.hero {
	border-radius: 3px;
	max-width: 95vw;
}

main {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main::before {
	background-color: grey;
	border-radius: 3px;
	content: "";
	display: block;
	height: 5px;
	margin: 0.4em 0 1em 0;
	width: 80vw;
}

.portfolio__item img {
	max-width: 90%;
}

.portfolio__item {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.2em;
}

.portfolio__item p {
	font-size: 0.9em;
	margin-bottom: 2.4em;
	margin-top: 0;
}

.portfolio__heading {
	flex-basis: 100vw;
	flex-grow: 1;
}

.portfolio__item picture {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.2em;
}

header>picture {
	display: flex;
	justify-content: space-between;
}

.portfolio__description {
	font-family: "Lato", sans-serif;
}


/*
 *
 * Media Queries
 *
 */

@media screen and (min-width: 543px) {
	.portfolio__heading {
		margin-top: 1.5em;
	}
}

@media screen and (min-width: 600px) {
	.logo {
		height: 100px;
	}
	.portfolio__item img {
		box-shadow: 10px 10px 21px 0 rgba(0, 0, 0, 0.75);
	}
}

@media screen and (min-width: 755px) {
	.portfolio {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.portfolio__item {
		max-width: 40%;
	}
	main::before {
		background-color: #a2a2a2;
		border-radius: 1px;
		height: 5px;
		margin: 0.9em 0 1.3em 0;
		width: 90vw;
	}
}

@media screen and (min-width: 1055px) {
	.portfolio__item {
		max-width: 30%;
	}
}

@media screen and (min-width: 1200px) {
	.header__title {
		font-size: 3em;
	}
	.header__subtitle {
		font-size: 1.3em;
	}
	.logo {
		height: 140px;
	}
	.hero {
		max-width: 90vw;
	}
	.portfolio {
		margin-top: 4em;
	}
	.portfolio__heading {
		color: rgb(100, 100, 100);
		font-size: 2em;
		margin-left: 2%;
		padding-bottom: 1.7em;
		text-transform: initial;
	}
}

@media screen and (min-width: 1300px) {
	body {
		margin-left: auto;
		margin-right: auto;
		width: 1200px;
	}
	main::before {
		background-color: #a2a2a2;
		border-radius: 1px;
		height: 5px;
		margin: 1.5em 0 1.7em 0;
		width: 1200px;
		;
	}
}